.status {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.turn-title {
  font-size: 25px;
  text-align: center;
}

.players {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player {
  opacity: 0.7;
}

.player.active {
  opacity: 1;
  padding-bottom: 5px;
  border-bottom: 2px solid #e1e1e1;
}

.game-over {
  text-align: center;
  margin-bottom: 80px;
}

.game-over .title {
  font-size: 50px;
}

.hidden {
  visibility: hidden;
}
